<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 1、加载用于数据库配置的属性文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <!-- 2、包扫描：dao，service-->
    <context:component-scan base-package="cn.hpu.jk.dao, cn.hpu.jk.service"/>
    <!-- 3、dataSource数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!--连接池中保留的最大连接数-->
        <property name="maxPoolSize" value="${c3p0.pool.maxPoolSize}"/>
        <!--连接池中保留的最小连接数-->
        <property name="minPoolSize" value="${c3p0.pool.minPoolSize}"/>
        <!--初始化时创建的连接数-->
        <property name="initialPoolSize" value="${c3p0.pool.initialPoolSize}"/>
        <!--定义从数据库中获取新的连接失败后重复尝试的次数，默认为30-->
        <property name="acquireIncrement" value="${c3p0.pool.acquireIncrement}"/>
    </bean>
    <!-- 4、SessionFactory-->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--整合Mybatis，包扫描Mapper文件-->
        <property name="configLocation" value="classpath:SqlMapConfig.xml"/>
        <property name="mapperLocations" value="classpath:cn/com/self/mapper/*.xml"/>
    </bean>
</beans>